<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CTP Calle Blancos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/redes.css') }}">
</head>

<body>
  <!-- ENCABEZADO / NAVBAR -->
  <header class="navbar">
    <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">
    <nav class="nav-menu">
      <a href="#">Inicio</a>
      <a href="#">Nosotros</a>
      <a href="#">Servicios Institucionales</a>
      <a href="#">Especialidades</a>
      <a href="#">Plan Nacional</a>
      <a href="#">Junta Administrativa</a>
      <a href="#">Contacto</a>
      <a href="'/index'" class="btn-admision">Admisión</a>
    </nav>
  </header>

  <!-- CONTENIDO PRINCIPAL -->
  <section class="contenido">
    <div class="info">
      <p class="etiqueta"><span class="check">✅</span> INNOVACIÓN, CONOCIMIENTOS Y VALORES</p>
      <h1>
        Modelo educativo de calidad, a nivel nacional, en cuanto a desarrollo cultural,
        científico-tecnológico, económico, deportivo, social, ético y ambiental,
        que sirva de referencia a otras instituciones
      </h1>
      <a href="#" class="btn-especialidades">VER ESPECIALIDADES →</a>
    </div>
    <div class="imagen">
      <img src="{{ url_for('static', filename='images/arriba.png') }}"  alt="Estudiante">
    </div>
  </section>


  <!-- SECCIÓN DE ESPACIO EN BLANCO CON IMAGEN -->
  <section class="espacio-blanco">
    <img src="{{ url_for('static', filename='images/imagenc.png') }}"  alt="Imagen adicional">
  </section>
  <section class="espacio-blanco">
    <img src="{{ url_for('static', filename='images/imagenc2.png') }}"  alt="Imagen adicional">
  </section>



  
  <!-- PIE DE PÁGINA -->
  <footer class="footer">
    <div class="footer-container">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo CTP" class="footer-logo">
      <nav class="footer-nav">
        <a href="#">Inicio</a>
        <a href="#">Servicios Institucionales</a>
        <a href="#">Especialidades</a>
        <a href="#">Plan Nacional</a>
        <a href="#">Junta Administrativa</a>
        <a href="#">Empresa</a>
        <a href="#">Contacto</a>
      </nav>
    </div>
    <hr class="footer-line">
    <img src="{{ url_for('static', filename='images/imgf.png') }}" alt="Imagen adicional">
    <p class="footer-text">
      © 2025 | Todos los derechos reservados CTP Calle Blancos | SAComp Consultores
    </p>
  </footer>
</body>
</html>

